<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">

<title>+ Inserir Alunos</title>

<meta name="author" content="ArthurPrestes">
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link
	href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap"
	rel="stylesheet">
</head>
<body>

	<div th:replace = "fragmentos/fragmentos :: header"></div>
	
	<div class="container">
	
	
	
	</div>

</body>
</html>