<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">

<title>Projeto Academy</title>

<meta name="author" content="ArthurPrestes">
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link
	href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap"
	rel="stylesheet">
</head>
<body>

	<div th:replace = "fragmentos/fragmentos :: header"></div>
	
	<section class="neo-section" style="background-image: url('img/bg-index.jpg');">
	
	<div class="shadow"></div>
	
	<div class="center neo-container">
		<h1 class= "center-text">Sistema de Gerencimento de Alunos</h1>
		
	
	<div class="buttons">
	
		<div class="wm">
			<h5 class="btn">Cadastrar Aluno</h5>
		</div>
	
		<div class="wm">
			<h5 class="btn justify-content-center">Encontrar Aluno</h5>
		</div>
	
		<div class="clear"></div>
		
	</div>
	</div>
	</section>

		<div th:replace="fragmentos/fragmentos :: footer"></div>

	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>